/* General Page Structure */
.wrapper {
	width: 500px;
	margin: 50px auto;
}

/* Grid System */
#grid {
	width: 480px;
	height: 480px;
	margin: 0px auto;
}

.row {
	margin: 0 auto;
}
.square {
	float: left;

	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	outline: 1px solid;
	
	background: #FFF;
}

/* User Inputs */
#user-input {
	margin-top: 20px;
}

#user-input > button.resize {
	float: left;
}


#user-input > button.reset {
	float: right;
}